language: rust
cache: cargo

git:
  depth: 1

env:
  global:
    - CRATE_NAME=celtic_names

stages:
  - test
  - test_deploy
  - deploy

jobs:
  include:
    - stage: test
      script: cargo test
      os: osx
      rust: nightly
      if: NOT tag =~ /^v\d+\.\d+\.\d+.*$/
    
    - stage: test
      script: cargo test
      os: linux
      rust: nightly
      if: NOT tag =~ /^v\d+\.\d+\.\d+.*$/
    
    - stage: test
      script: cargo test
      os: linux
      rust: stable
      if: NOT tag =~ /^v\d+\.\d+\.\d+.*$/

    - stage: test
      script: cargo test
      os: osx
      rust: stable
      if: NOT tag =~ /^v\d+\.\d+\.\d+.*$/

    - stage: prepare_deploy
      script:
        - cargo build --release
        - cargo test --release
        - mv target/release/$CRATE_NAME $TRAVIS_OS_NAME-$CRATE_NAME
      os: osx
      rust: stable
      if: tag =~ /^v\d+\.\d+\.\d+.*$/
    
    - stage: prepare_deploy
      script:
        - cargo build --release
        - cargo test --release
        - mv target/release/$CRATE_NAME $TRAVIS_OS_NAME-$CRATE_NAME
      os: linux
      rust: stable
      if: tag =~ /^v\d+\.\d+\.\d+.*$/

deploy:
  api_key: $GITHUB_DEPLOY_KEY
  file: $TRAVIS_OS_NAME-$CRATE_NAME
  on:
    condition: $TRAVIS_RUST_VERSION = stable
    tags: true
  provider: releases
  skip_cleanup: true
  name: $TRAVIS_TAG

  branches:
    only:
      - /^v\d+\.\d+\.\d+.*$/
