name: Rust

on:
  push:
    branches: master

jobs:
  linter:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: hecrj/setup-rust-action@master
      with:
        rust-version: stable

    - name: Install rustfmt
      run: rustup component add rustfmt
    
    - name: Run rustfmt lint
      run: cargo fmt --all -- --check
  
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: hecrj/setup-rust-action@master
      with:
        rust-version: stable

    - name: Install coverage tool
      run: cargo install cargo-tarpaulin --force

    - name: Build project
      run: cargo build --verbose
    
    - name: Run tests
      env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: cargo tarpaulin --out Xml && bash <(curl -s https://codecov.io/bash)
  
  clippy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: hecrj/setup-rust-action@master
      with:
        rust-version: stable
        
    - name: Install clippy
      run: rustup component add clippy
    
    - name: Run clippy
      run: cargo clippy -- -D warnings
